# Build results
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options
.vs/
.vscode/

# NuGet packages
*.nupkg
*.snupkg
packages/
!packages/build/

# Test results
TestResults/

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store

# Windows
Thumbs.db
